.navAnchor {
  text-anchor: underline 2px;
}

.navAnchorActive {
  text-decoration: underline 1px;
}

.navAnchor:hover {
  text-decoration: underline 2px;
}

.teste {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  height: 5rem;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;

  .border-b-gray-600 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(75 85 99 / var(--tw-border-opacity));
  }

  .lg\:px-8 {
    padding-left: 2rem /* 32px */;
    padding-right: 2rem /* 32px */;
  }
}
